<?xml version="1.0" encoding="UTF-8" standalone="no"?><launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication"><stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="GradleStartServer"/><stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="forge-1.8-11.14.4.1569-mdk"/><stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="/Users/Corban/Desktop/forge/forge-1.8-11.14.4.1569-mdk/run"/></launchConfiguration>